{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
    .container {
    padding: 0;
    margin: 0, auto;
    }

    .container div {
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }

    .container img{
    width: 7rem;
    height : 7rem;
    object-fit:cover;
    border-radius: 1rem;
    }

    </style>

{% if project_list %}
<div class="container">
    {% for project in project_list %}
  <a href ="{% url 'projectapp:detail' pk=project.pk %}">
      {% include 'snippets/card_project.html' with project=project %}
        <!--위에 구문의 뜻 : snippets/card.html 파일을 가져올때의 article은
        지금 쓰이고 있는 article이다(with에 의해서 그런 의미가 됨됨-->
  </a>
    {% endfor %}
</div>
<script src = "{% static 'js/magicgrid.js' %}"></script>
{% else %}
<div style = "text-align:center;">
    <h1>No Projects YET!</h1>
</div>
{% endif %}

{% include 'snippets/pagination.html' with page_obj=page_obj %}
<!--page_obj에 현재 페이지에 대한 정보가 담겨져 잇음-->

<div style = "text-align:center">
    <a href = "{% url 'projectapp:create' %}" class = "btn btn-dark rounded-pill px-3 mt-3 mb-3">
        Create Article
    </a>
</div>



{% endblock %}