.pragmatic_logo{
margin-top : 1rem ; font-family: 'Indie Flower', cursive;
}

.pragmatic_footer_button{font-size : 1.2rem
}

.pragmatic_footer{
text-align : center ; margin-top : 2rem
}

.pragmatic_header{
text-align : center ; margin : 2rem 0;
}

@media screen and (max-width:500px){
    html {
        font-size:13px;
    }
}

a {
text-decoration:none;
    color:black;
}

a:hover {
    color:powderblue; transform:scale(1.05);
}

.pragmatic_header_nav {
    margin: 0 0.5rem;
    transform:scale(1.05);
}

.pragmatic_header_navbar {
    margin: 1.5rem 0;
}

.material-icons.md-18 { font-size: 18px; }