{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<script src="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <div style = "text-align : center; max-width:600px ;margin : 4rem auto;">
        <div class = "mb-4">
            <h4>Article Create</h4>
        </div>
        <form action ="{% url 'articleapp:create' %}" method  = "post" enctype = "multipart/form-data">
        {% csrf_token %}
<!--account app의 'create'라는 이름의 라우팅을 찾아서 넣어라-->
<!--accountapp/create/보다 훨씬 더 가독성이 높음-->
<!--post메서드 > csrf token사용해야함!-->

<!--            {{ form }}-->
<!--views.py의 AccountCreateView에서 form을 장고 기본폼으로 설정해줬음 > 그 form이 저기에 반영됨-->
                      {% bootstrap_form form %}
            <input type = "submit" class = "btn btn-dark rounded-pill col-6 mt-3">
        </form>

    </div>
<script>var editor = new MediumEditor('.editable');</script>

{% endblock %}